<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "navbarTP.html" %}
    <div class="container mx-auto pt-10 bg-white rounded-md shadow-lg mt-20">
        <p class="font-sans font-medium text-center mb-10">Student discipline results</p>
        <form action="/report_sd" method="post" enctype="multipart/form-data" class="grid grid-cols-2">
            {% csrf_token %}
            <div class="pl-10 pr-10">
                <label for="dropzone_file"
                    class="flex overflow-hidden flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div id="pic" class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
                                to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)
                        </p>
                    </div>
                    <input id="dropzone_file" type="file" class="hidden " name="reportPic" />
                </label>
                <center>
                    <button
                        class="bg-green-400 hover:bg-blue-700 rounded-lg font-sans text-white w-40 p-2 mt-5 mb-10">Submit</button>
                </center>
            </div>
            <!-- ----- cals2 ----- -->
            <div>
                <div class="ml-20">
                    <p class="pb-2 pl-0.5">สถานที่</p>
                    <input type="text" src="" alt="รูปป้ายทะเบียนรถ" name="location"
                        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 "
                        placeholder="">
                </div>
                <div class="ml-20">
                    <p class="pb-2 pl-0.5">ข้อความ</p>
                    <textarea id="message" rows="4" name="message"
                        class="p-2.5 w-96 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="สิ่งที่ทำ (เขียนมาคร่าวๆ)"></textarea>
                </div>
            </div>
        </form>
    </div>
    <script>
        dropzone_file.onchange = evt => {
            const [file] = dropzone_file.files
            console.log("uploaded")
            if (file) {
                pic.innerHTML = "<img src='" + URL.createObjectURL(file) + "'/>"
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>
</body>

</html>